.review-item{
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}
.review-info{
    flex-grow: 1;
}

.productName{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
}
.review-item p { 
    margin: 0 15px;
}
.orange-text{
    color: orange;
}
.review-item img { 
    width: 91px;
    height: 91px;
    border-radius: 6px;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon{
    color: #EB5757;
    font-size: 27px;
}