.product{
    width: 300px;
    height: 510px;
    border: 1px solid #95a095;
    border-radius: 8px;
    position: relative;
}
.product img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
.product_name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin: 0;
}
.product_info{
    margin-left: 14px;
}
.product_price{
    font-size: 17px;
    margin-bottom: 25px;
}
.product_menufac{
    margin: 0;
}
.product_rating{
    margin: 10px 0;
}
.product_addToCart {
    position: absolute;
    width: 100%;
    border: 1px solid #95a095;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    bottom: 0;
    transition: .3s;
}
.product_addToCart:hover{
    background-color: orange;
}